# Data base usada en el Curso de modelos predictivos que excede tamano permitido por git

edX/Modelos predictivos ML/Semana 3/data/MiningProcess_Flotation_Plant_Database.csv


#Curso de estadistica computacional en python

Escuela Data Science - Platzi/Estadistica computacional python/programacion-dinamica-y-estocastica/.DS_Store
Escuela Data Science - Platzi/Estadistica computacional python/programacion-dinamica-y-estocastica/Script/Camino de borrachos/*.html
Escuela Data Science - Platzi/Estadistica computacional python/programacion-dinamica-y-estocastica/Script/Camino de borrachos/__pycache__
Escuela Data Science - Platzi/Estadistica computacional python/programacion-dinamica-y-estocastica/.vscode
Escuela Data Science - Platzi/Estadistica computacional python/programacion-dinamica-y-estocastica/env


# Coursera asignaciones
Applied Data Science with Python - Coursera Specialization /Introduction To Data Science/assignments
